---
import Layout from '../layouts/Layout.astro';
import routes from '../utils/routes';
---

<Layout page={routes.about}>
  <main class="max-w-6xl p-16 mx-auto">
    <div class="container mx-auto w-fit">
      <div class="bg-white border-2 shadow-sm card">
        <figure>
          <img
            alt="Profile headshot"
            class="mt-8 rounded-full"
            height="150px"
            src="/profile.jpg"
            width="150px"
          />
        </figure>
        <div class="items-center card-body">
          <h2 class="card-title">Zachary Dodge</h2>
          <p>Front End Engineer II at AWS</p>
          <p>zacharysdodge (at) gmail.com</p>
          <div class="justify-center card-actions">
            <a
              class="link-primary link"
              href="https://linkedin.com/in/zachary-s-dodge"
              rel="noreferrer"
              target="_blank">LinkedIn</a
            >
            <a
              class="link-primary link"
              href="https://github.com/dodgez"
              rel="noreferrer"
              target="_blank">GitHub</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <section>
      <h1 class="text-4xl">About me</h1>
      <p class="mt-4">
        As a Front End Engineer II at Amazon Web Services with a Masters in
        Mathematics, I have 9+ years of experience in programming and
        engineering. I have designed and implemented crucial features for a
        website with tens of thousands of daily active users, including creation
        of a feature flag service, implementing smarter website routing logic,
        decreasing unit test time and development server startup time by 60% and
        50% and continuous integration and deployment for micro-frontend
        packages.
      </p>
    </section>
    <div class="divider"></div>
    <section>
      <h1 class="text-4xl">Tech and Skills</h1>
      <div class="grid max-w-6xl grid-cols-4 gap-8 mt-4 gap-y-4">
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">Typescript</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">React</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">Git</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">HTML5</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">CSS</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">
          AWS CloudFront
        </div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">AWS Lambda</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">GraphQL</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">AWS</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">Python</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">Rust</div>
        <div class="p-4 bg-white border-2 rounded-md shadow-lg">GitHub</div>
      </div>
    </section>
    <div class="divider"></div>
    <section>
      <h1 class="text-4xl">Experience</h1>
      <div class="mt-4 mb-8">
        <h2 class="text-lg font-semibold">Amazon Web Services</h2>
        <h3 class="text-md">Front End Engineer II</h3>
        <p class="italic text-gray-600">August 2021 - Present</p>
        <ul class="mt-2 list-disc list-inside">
          <li>
            Designed and implemented a feature framework for a website with
            thousands of users
          </li>
          <li>
            Implemented and used a feature flag framework for releasing dark
            mode for thousands of users
          </li>
          <li>
            Implemented smarter front-end routing logic to save 98% bandwidth on
            consecutive page loads
          </li>
          <li>Decreased unit test time for our website by 60% overall</li>
          <li>Decreased development server startup time by 50%</li>
          <li>
            Designed and implemented initial availability monitoring for an
            adjacent team
          </li>
          <li>
            Developed several front-end modules and components exposing
            information used by several hundred users per day
          </li>
          <li>
            Lead work to fix search results empowering several thousand users
            per day
          </li>
          <li>
            Designed and implemented a micro-frontend architecture for an
            internal service now extrapolated and used by 11 other tools
          </li>
          <li>
            Designed and implemented components exposing a unique view into data
            used by several hundred users per day
          </li>
          <li>
            Designed and implemented test automation for our micro-frontend
            packages
          </li>
        </ul>
      </div>

      <div class="mb-8">
        <h2 class="text-lg font-semibold">Cornerstone Systems Northwest Inc</h2>
        <h3 class="text-md">Software Developer</h3>
        <p class="italic text-gray-600">May 2019 - August 2021</p>
        <ul class="mt-2 list-disc list-inside">
          <li>
            Designed and implemented an architecture for a survey web
            application
          </li>
          <li>
            Designed visuals for the United States Preventative Services Task
            Force 2020 recommendation publication
          </li>
          <li>
            Updated and maintained the Tobacco Policy Effects site: <a
              class="link-primary link"
              href="https://tobaccopolicyeffects.org"
              rel="noreferrer"
              target="_blank">https://tobaccopolicyeffects.org</a
            >
          </li>
        </ul>
      </div>

      <div>
        <h2 class="text-lg font-semibold">Total Recall Inc</h2>
        <h3 class="text-md">Software Developer</h3>
        <p class="italic text-gray-600">June 2011 - September 2015</p>
        <ul class="mt-2 list-disc list-inside">
          <li>
            Designed, installed, tested, and maintained various software systems
          </li>
          <li>
            Programs created helped Total Recall Inc be more efficient and
            provided a better service for the customers
          </li>
          <li>
            Clearly and regularly communicated with management and technical
            support colleagues
          </li>
          <li>
            Tested, maintained and recommended software improvements to ensure
            strong functionality and optimization
          </li>
          <li>
            Independently installed, customized and integrated commercial
            software packages
          </li>
          <li>Facilitated root cause analysis of system issues</li>
          <li>
            Worked with experienced team members to conduct root cause analysis
            of issues, review new and existing code and/or perform unit testing
          </li>
          <li>Identified ideas to improve system performance</li>
          <li>Resolved complex technical design issues</li>
        </ul>
      </div>
    </section>
  </main>
</Layout>
