---
// eslint-disable-next-line import/no-unresolved
import { ViewTransitions } from 'astro:transitions';

import routes from '../utils/routes';

interface Props {
  page: (typeof routes)[keyof typeof routes];
}

const { page } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="Zachary Dodge's Website" name="description" />
    <meta content="width=device-width" name="viewport" />
    <link href="/favicon.ico" rel="icon" type="image/svg+xml" />
    <meta content={Astro.generator} name="generator" />
    <title>{page.title}</title>
    <ViewTransitions />
  </head>
  <body class="bg-slate-100" style="min-height: 100vh">
    <div class="min-h-screen bg-gradient-to-br from-slate-50 to-slate-100">
      <div class="max-w-5xl mx-auto px-4 py-12">
        <slot />
      </div>
    </div>
  </body>
</html>
